@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@font-face {
  font-family: "Mossport";
  src: url("../fonts/Mossport.otf") format("opentype"), url("../fonts/Mossport.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background: url(../assets/bg-top.svg) center top -375px no-repeat;
  background-color: #e3102c;
}
@media (max-width: 992px) {
  body {
    background-size: 1200px;
    background-position: top -240px center;
  }
}
@media (max-width: 768px) {
  body {
    background-size: 1000px;
    background-position: top -100px right -430px;
  }
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1328px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}
@media (max-width: 1340px) {
  .container {
    max-width: 1148px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 728px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 728px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 16px 0;
  background-color: #24387b;
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.19), 0 3px 13px 0 rgba(0, 0, 0, 0.04);
}
@media (max-width: 1200px) {
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: #24387b;
    box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.19), 0 3px 13px 0 rgba(0, 0, 0, 0.04);
  }
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.header__sponsor {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 36px;
}
@media (max-width: 992px) {
  .header__sponsor {
    justify-content: space-between;
    flex: 0 1 auto;
    gap: 18px;
    width: 100%;
  }
}
.header__sponsor-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__sponsor-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.header__nav {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  gap: 24px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .header__nav {
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 24px 16px;
    background-color: #24387b;
    transition: transform ease-in-out 0.2s;
    transform: translate3d(0, -240px, 0);
  }
}
@media (max-width: 768px) {
  .header__nav {
    flex-direction: column;
    padding: 36px 16px;
  }
}
.header__nav.active {
  transform: translate3d(0, 0, 0);
}
.header__nav-link {
  display: inline-block;
  padding: 12px 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  transition: all ease-in-out 0.1s;
}
.header__nav-link:hover {
  color: #e3102c;
}
.header__nav-link_contacts {
  color: #e3102c;
  background-color: #ffffff;
  border-radius: 16px;
}
.header__nav-link_contacts:hover {
  background-color: #e3102c;
  color: #ffffff;
  opacity: 1;
}
.header__burger {
  position: relative;
  z-index: 5;
  display: none;
  flex: 0 0 auto;
}
@media (max-width: 1200px) {
  .header__burger {
    display: block;
  }
}
.header__burger-button {
  display: block;
  height: 28px;
  width: 28px;
  padding: 0;
  border: none;
  background: url(../assets/burger.svg) center no-repeat;
  cursor: pointer;
}
.header__burger-button.active {
  background-image: url(../assets/close.svg);
}

.main {
  background: url(../assets/main-bg-dotes.svg) top 1000px left -800px no-repeat, url(../assets/main-bg-circles.svg) top 1400px right -1600px no-repeat;
}
@media (max-width: 1200px) {
  .main {
    background: url(../assets/main-bg-dotes.svg) top 1000px left -800px no-repeat, url(../assets/main-bg-circles.svg) top 1400px right -2000px no-repeat;
  }
}
@media (max-width: 768px) {
  .main {
    background: url(../assets/main-bg-dotes.svg) top 1000px left -800px no-repeat, url(../assets/main-bg-circles.svg) top 2000px right -2000px no-repeat;
  }
}

.footer {
  padding: 24px 0;
  margin-top: -4px;
  background-color: #24387b;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0 0 48px;
}
@media (max-width: 992px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .footer__links {
    align-items: center;
    margin-bottom: 24px;
  }
}
.footer__links-sponsor {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 36px;
}
@media (max-width: 992px) {
  .footer__links-sponsor {
    justify-content: space-between;
    flex: 0 1 auto;
    gap: 18px;
    width: 100%;
  }
}
.footer__links-sponsor-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__links-sponsor-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer__links-social {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 24px;
}
.footer__links-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__links-social-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .footer__links-social-link-image {
    width: 24px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__info-item {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 768px) {
  .footer__info-item {
    font-size: 14px;
  }
}

.first-screen .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 900px;
}
@media (max-width: 992px) {
  .first-screen .container {
    min-height: 760px;
  }
}
@media (max-width: 768px) {
  .first-screen .container {
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    min-height: auto;
    padding: 126px 16px 74px;
  }
}
.first-screen__fest-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1340px) {
  .first-screen__fest-image {
    width: 436px;
  }
}
@media (max-width: 992px) {
  .first-screen__fest-image {
    width: 278px;
  }
}
@media (max-width: 768px) {
  .first-screen__fest-image {
    width: 246px;
  }
}
.first-screen__event-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1340px) {
  .first-screen__event-image {
    width: 356px;
  }
}
@media (max-width: 992px) {
  .first-screen__event-image {
    width: 216px;
  }
}
@media (max-width: 768px) {
  .first-screen__event-image {
    width: 200px;
  }
}

.arena {
  padding: 90px 0 72px;
}
.arena__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 72px;
}
@media (max-width: 1340px) {
  .arena__heading {
    display: block;
  }
}
@media (max-width: 1340px) {
  .arena__heading-info {
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .arena__heading-info {
    margin-bottom: 24px;
  }
}
.arena__heading-info-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 992px) {
  .arena__heading-info-title {
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  .arena__heading-info-title {
    font-size: 48px;
    line-height: 120%;
  }
}
@media (max-width: 576px) {
  .arena__heading-info-title {
    font-size: 40px;
  }
}
.arena__heading-info-description {
  margin-top: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 768px) {
  .arena__heading-info-description {
    margin-top: 24px;
    font-size: 14px;
  }
}
.arena__heading-time {
  padding-top: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}
@media (max-width: 1340px) {
  .arena__heading-time {
    padding-top: 0;
  }
}
@media (max-width: 992px) {
  .arena__heading-time {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .arena__heading-time {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .arena__heading-time {
    font-size: 30px;
  }
}
.arena__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .arena__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
}
.arena__card {
  flex: 0 0 336px;
}
.arena__card_auto {
  flex: 0 0 auto;
}
@media (max-width: 1200px) {
  .arena__card_auto {
    flex: 0 0 336px;
  }
}
.arena__card-title {
  margin: 0 0 24px;
  padding: 16px 24px;
  font-family: "Mossport", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 34px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  background-color: #24387b;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.arena__card-time {
  margin: 0 0 48px;
  font-family: "Mossport", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.arena__card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 36px;
}
.arena__card-gallery-figure {
  flex: 0 0 auto;
  border-radius: 132px;
}
.arena__card-gallery-figure-image {
  display: block;
  width: 132px;
  aspect-ratio: 1/1;
  border-radius: 132px;
  border: 2px solid #ffffff;
  -o-object-fit: cover;
     object-fit: cover;
}
.arena__card-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 48px 0 0;
  padding: 0;
  list-style-type: none;
}
.arena__card-events-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  color: #fff;
}
.arena__card-visitors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.arena__card-visitor {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 154px;
  gap: 12px;
}
.arena__card-visitor_lg {
  flex: 0 0 100%;
}
.arena__card-visitor-figure {
  border-radius: 132px;
}
.arena__card-visitor-figure-image {
  display: block;
  width: 132px;
  aspect-ratio: 1/1;
  border-radius: 132px;
  border: 2px solid #ffffff;
  -o-object-fit: cover;
     object-fit: cover;
}
.arena__card-visitor-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.arena__card-visitor-role {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}
.arena__card-visitor-role_lg {
  font-weight: 500;
  text-transform: uppercase;
}
.arena__card-visitor-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.map {
  position: relative;
  min-height: 690px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .map {
    display: flex;
    flex-direction: column-reverse;
  }
}
.map__container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .map__container {
    height: 400px;
  }
}
.map__container iframe {
  width: 100%;
  height: 690px;
}
@media (max-width: 768px) {
  .map__container iframe {
    position: absolute;
    top: -40px;
    right: 0;
    width: 900px;
    height: 560px;
  }
}
.map .container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translate3d(0, -50%, 0);
}
@media (max-width: 768px) {
  .map .container {
    position: static;
    max-width: none;
    background-color: #24387b;
    transform: none;
  }
}
.map__contacts {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 72px 150px;
  padding-left: 0;
}
@media (max-width: 1340px) {
  .map__contacts {
    padding-right: 60px;
  }
}
@media (max-width: 768px) {
  .map__contacts {
    padding: 72px 0;
  }
}
.map__contacts > * {
  position: relative;
  z-index: 2;
}
.map__contacts::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 100vw;
  background-color: #24387b;
}
@media (max-width: 768px) {
  .map__contacts::before {
    display: none;
  }
}
.map__contacts-title {
  margin: 0 0 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  .map__contacts-title {
    font-size: 40px;
  }
}
.map__contacts-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
.map__contacts-block-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  .map__contacts-block-title {
    font-size: 14px;
  }
}
.map__contacts-block-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  .map__contacts-block-link {
    font-size: 20px;
  }
}